.pay-delivery-container {
  margin-left: -15px;
}
.payment-btn-container {
  gap: 20px;
}
.payment-btn {
  width: 90px;
  padding: 4px 5px 4px;
  border-radius: 25px;
  border: 1px solid gray;
  margin-bottom: 10px;
}
.payment-btn:hover {
  border: 1px solid goldenrod;
}
.paypal-logo {
  width: 50px;
}
.visa-logo {
  width: 50px;
  padding: 5px 5px 4px;
}
.mastercard-logo {
  width: 30px;
  margin-top: 1px;
}
.maestro-logo {
  width: 45px;
}
.discover-logo {
  width: 55px;
  padding: 8px;
}
.ideal-logo {
  width: 55px;
  padding: 0px;
}
.visa-discover-btn {
  margin: 0px 7px 0px 7px;
}
