.signup-section {
  width: max-content;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #e0e0e0;
  box-shadow: -26px 26px 52px #bebebe, 26px -26px 52px #ffffff;
}
.signup-title {
  text-align: center;
  color: goldenrod;
}
.google-btn {
  margin-left: 90px;
  margin-bottom: 10px;
}
.google-logo {
  width: 50px;
  padding: 2px;
}
input {
  padding: 10px 40px;
  border-radius: 25px;
  margin-bottom: 10px;
}
.divider {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.login-text {
  text-align: center;
}
.login-link {
  color: royalblue;
}
